
body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}


.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #000;
}

nav ul li a:hover{
  text-decoration: underline solid #495E57;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


/* header section */

.header {
  background-color: #495e57;
  padding: 40px 0;
}

.header section {
color: #EDEFEE;
padding: 10px 13%;
position: relative;
}


h2 {
  color: #F4CE14;
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.banner-img{
  position: absolute;
  right: 13%;
  top: 15%;
  width: 400px;
}

.banner-img img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}


form, .comfirm{
  padding: 10px 13%;
}

.formField{
  padding: 50px 20px;
}

input, label{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
#book-date, #book-time, #book-guests, #book-occasion{
  background: #bdbdbd43;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.btnReceive input{
  padding: 12px 16px;
  margin-top: 20px;
  background: #495e57;
  color: #fff;
  border: none;
  border-radius: 4px;

}

.comfirm span{
  color: blue;
}


/* menu items */

.menu-container{
  margin: 110px auto;
  padding: 10px 13%;
}

.menu-container h2{
  color: #000;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items{
  /* height: 400px; */
  width: 350px;
  background: #a9c8be;
  border-radius: 8px;
}

.menu-container img{
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

.menu-content{
  padding: 5px 15px;
}


.menu-content .heading{
  display: flex;
  justify-content: space-between;
}

.orderbtn{
  padding: 5px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

footer section{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info img{
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}

.company-info p{
  width: 320px;
}

footer h3{
  font-size: 18px;
}

footer ul{
  padding: 0;
}

footer ul li{
  padding: 8px 0;
}


@media screen and (max-width: 768px){
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .bar{
    background: #333333;
  }

  .banner-img{
    display: none;
  }

  form, .comfirm{
    padding: 10px 8%;
  }


  .header section, .menu-container{
    padding: 10px 8%;
  }
  .menu-container{
    margin: 20px 0;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    width: 100%;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }
  .company-info p{
    width: 100%;
  }
}

.hidden{
  display: none;
}